@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* default body styling */
body {
  min-height: 100vh;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  background-color: hsl(30, 38%, 92%);
  display: grid;
}

/* styling product card component */
.container {
  margin: 20px 0 50px;
  max-width: 345px;
  border-radius: 12px;
  background-color: white;
  justify-self: center;
  align-self: center;
}
.container img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}

/* style for product information */
.item-info {
  margin: 20px 28px;
}
.product-name {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.title {
  margin-top: 14px;
  color: hsl(212, 21%, 14%);
  font-family: Fraunces, sans-serif;
  font-size: 34px;
  line-height: 1;
}
.desc {
  margin-top: 20px;
  line-height: 1.5;
}
.prices {
  margin-top: 20px;
}
.dis_price {
  font-size: 32px;
  font-family: Fraunces, sans-serif;
  color: hsl(158, 36%, 37%);
}
.orig_price {
  text-decoration: line-through;
  margin-left: 20px;
  vertical-align: super;
}

/* style for button element */
button {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  border: none;
  font-weight: 700;
  border-radius: 10px;
  background: url("images/icon-cart.svg") no-repeat 30% 50%;
  background-color: hsl(158, 36%, 37%);
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #1a4031;
}

@media screen and (min-width: 700px) {
  .container {
    max-width: 600px;
    height: 450;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .container img {
    height: 100%;
    border-radius: 12px 0 0 12px;
  }
  .item-info {
    margin: 20px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  button {
    background-position: 25% 50%;
  }
}

/* style for footer */
footer {
  margin: 10px 0;
  position: absolute;
  font-size: 13px;
  justify-self: center;
  align-self: flex-end;
}
